body{
    font-family: Arial, Helvetica, sans-serif;
    display:flex;
    flex-direction: column;
    justify-content: center;
    flex:1;
    margin:0;
    padding:0;
}

.container{
    background-color:#1f2937;
}

.nav{
    display: flex;
    justify-content: space-around;
    padding-bottom: 80px;
}

.header{
    font-size: 24px;
    color:#f9faf8;
    padding-top: 12px;
}

ul{
    list-style-type: none;
    font-size:18px;
    display: flex;
    justify-content: space-between;
    gap:16px; 
}

a{
    color:#e5e7eb;
    text-decoration: none;    
}

.website{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    padding:8px 16px;
    margin: 16px;
}

.hero-items{
    display: flex;
    flex-direction: column;
    align-items: flex-start;    
}


.hero{
    font-size:48px;
    font-weight:bolder;
    color:#f9faf8;
    padding-bottom: 0;
    margin: 0;
    display: block;
    align-items: center;
    justify-content: center;

}

.hero2{
    display: block;
    font-size:18px;
    color:#e5e7eb;
    padding-top: 0;
    margin-top: 0;
}

button{
    background-color:#3882f6;
    color:#f9faf8;
    border: 12px;
    padding: 14px;
    border-radius: 8px;
    width:100px;
    height:40px;
}

.img1{
    flex-shrink: 2;
   max-width:100%;
    max-height: 100%;
}

